@import '../../../styles/colors.css';

@media (max-width: 768px) {
  .SignUp--container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .SignUp--header {
    width: 100%; height: auto;
    border: none;
    padding: 12px 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }

  .SignUp--description {
    display: flex;
    justify-content: center;
  }

  /* .SignUp--triangle {
    width: 0;
    height: 0;
    border-left: 263px solid transparent;
    border-right: 263px solid transparent;
    border-bottom: 276px solid var(--secondary-yellow);
    font-size: 20px;
    line-height: 28px;
  } */
  .SignUp--triangle {
    position: relative;
    width: 526px;
    height: 226px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .SignUp--triangle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 263px solid transparent;
    border-right: 263px solid transparent;
    border-bottom: 226px solid var(--secondary-yellow);
    z-index: -1;
  }
  
  .SignUp--triangle-text {
    width: 222px; height: 56px;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    text-align: center;
  }

  .SignUp--rectangle {
    width: 370px; height: 358px;
    border: none;
    background-color: var(--secondary-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .SignUp--button-container {
    width: 268px; height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  .SignUp--button {
    width: 128px; height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid var(--grey3);
    border-radius: 6px;
    background-color: white;
    color: var(--black-text);
  }

  .SignUp--content-container {
    width: 100vw; height: 100vh;
    background-image: url('../../../assets/membership-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
    min-width: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .SignUp--content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 71px;
    margin-bottom: 50px;
  }
}

