@import './../../styles/colors.css';

@media (max-width: 768px) {
  .FilterOption--container {
    width: auto; height: auto;
    border: 0.5px solid var(--grey1);
    border-radius: 30px;
    background-color: transparent;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 6px 10px;
  }
/*   
  .FilterOption--img {
    width: auto; height: auto;
    padding: 4px;
  } */
  
  .FilterOption--text {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: var(--grey3);
    display: flex;
    gap: 4px;
  }

  .MobileFilterContent--button-container {
    width: 100%; height: auto;
    display: flex;
    gap: 8px;
    padding: 12px 0;
  }

  .MobileFilterContent--button-reset {
    width: 52px; height: 52px;
    border: 1.5px solid black;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    &.disable {
      opacity: 0.3;
      border: 1.5px solid rgba(0, 0, 0, 0.7);
    }
  }

  .MobileFilterContent--button {
    width: 282px; height: 52px;
    border: none;
    border-radius: 30px;
    background-color: black;
    color: white;

    &.disable {
      opacity: 0.4;
      color: rgba(256, 256, 256, 0.6);
    }
  }
}
