
@media (max-width: 768px) {
  .FilterOption--container {
    width: auto; height: auto;
    border: 1px solid #d9d9d9;
    border-radius: 11.12px;
    background-color: transparent;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 4px 11px;
  }
  
  .FilterOption--img {
    width: auto; height: auto;
    padding: 4px;
  }
  
  .FilterOption--text {
    font-size: 8px;
    font-weight: 600;
    line-height: 100%;
    color: #6B6B6B;
    display: flex;
    gap: 3px;
  }
}
