@import './../../../../styles/colors.css';

.Privacy--container {
  height: auto; width: 342px;
  margin: 8px 24px 50px 24px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--black-text);
}

.Privacy--title-container {
  height: 100%; width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.Privacy--title {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

.Privacy--content {
  height: 100%; width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}