@import './../../styles/colors.css';

@media (max-width: 768px) {
  .ProfilePage--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw; height: 100vh;
  }

  .ProfilePage--button-container {
    width: 342px; height: auto;
    padding: 12px 0;
    display: flex;
    gap: 8px;
  }

  .ProfilePage--button{
    width: 100%; height: 52px;
    border: 1.5px solid black;
    color: var(--black-text);
    border-radius: 30px;
    background-color: white;

    &.black {
      background-color: black;
      color: white;
    }
  }

  .ProfilePage--button:disabled {
    border: none;
    cursor: not-allowed;
    opacity: 0.45;
    color: rgba(256, 256, 256, 0.45);
  }

  .ProfilePage--logout {
    color: var(--grey3);
    text-decoration: underline;
    margin-top: 120px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
  }

  .MyInfoCard--container {
    position: relative;
    height: 222px;
    width: 260px;
    border: none;
    background-color: white;
    box-shadow: 0px 1px 34px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    gap: 34.79px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .MyInfoCard--header-container {
    display: flex;
    gap: 25.82px;
  }

  .MyInfoCard--header-text {
    width: 99.19px; height: auto;
  }

  .MyInfoCard--header-img-container {
    height: 96px; width: 96.18px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .MyInfoCard--header-img {
    object-fit: cover;
    width: 100%; height: 100%;
    display: block;
    margin: auto;
  }

  .MyInfoCard--content-container {
    width: 223.93px; height: auto;
    display: flex;
    flex-direction: column;
    gap: 4.51px;
  }

  .objet-wrapper {
    width: 308px; height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 53px;
    margin-bottom: 20px;
  }

  .objet-container {
    width: 68px; height: 68px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .objet {
    display: block;
    margin: auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
  }

  .objet-preview-container {
    width: 180px; height: 180px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
  }

  .MyInfoCard--content-intro {
    white-space: nowrap; /* 텍스트를 한 줄로 표시 */
    overflow: hidden; /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 ...로 표시 */
  }
}