@import '../../styles/colors.css';

.Footer--container {
  width: 100%; height: 140px;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.Footer--content-container {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.Footer--content-header {
  display: flex;
  gap: 164px;
}

.Footer--contact-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--grey3);
}

.Footer--agreement {
  font-size: 12px;
  line-height: 140%;
  font-weight: 600;
  width: 138px; height: auto;
}

.Footer--instagram {
  width: 40px; height: 40px;
  border: 0.4px solid var(--grey4);
  border-radius: 50%;
  background-color: var(--grey4);
  display: flex;
  justify-content: center;
  align-items: center;
}