@import '../../../../styles/colors.css';


@media (max-width: 768px) {
  .MembershipAuth--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .MembershipAuth--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; height: auto;
    max-width: 342px;
  }
  
  .MembershipAuth--content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  
  .MembershipAuth--link-share {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: var(--black-text);
    cursor: pointer;
  }
}
