@import '../../../styles/colors.css';

@media (max-width: 768px) {
  .SignIn--container {
    width: 100vw; height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-image: url('../../../assets/login-logo.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
  }

  .SignIn--close-button-container {
    width: 100%;
    height: auto;
  }

  .SignIn--close-button {
    width: 36px; height: 36px;
    border: none;
    background-color: transparent;
    background-image: url('../../../assets/login-exit.png');
    margin-top: 59px;
    margin-left: 24px;
  }

  .SignIn--logo-gif {
    width: 100%; height: auto;
    margin-bottom: 50px;
  }

  .SignIn--button-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin-bottom: 99px;
  }

  .SignIn--google-button {
    width: 342px; height: 52px;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    &.black {
      background-color: black;
      color: white;
    }
  }

  .SignIn--signup-link {
    font-weight: bold;
    text-decoration: underline;
    color: var(--black-text);
  }
}
